.line {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #454545;
    line-height: 1.5em;
  }
  
  .line span {
      color: #ff4c4c;
  }
  
  .line b {
      display: inline-block;
      margin-right: 10px;
  }