<div class="containter">
    <div class="content">
        <div class="title">
            Группы
            <div class="btn-label"><img class="ic-plus"> Добавить группу</div>
        </div>
        <div class="description">
            Здесь располагаются группы, у которых вы ведете дисциплину «Структуры и алгоритмы».
        </div>
        <div class="tiles">
            <app-group-tiles-tile *ngFor="let group of groups, let i = index" [colorVariant]="0" [group]="group"></app-group-tiles-tile>
        </div>
    </div>
</div>