<div class="containter">
    <div class="content">
        <div class="title">
            Мои курсы
        </div>
        <div class="description">
            Здесь располагаются курсы, которые вы ведете.
        </div>
        <div class="tiles">
            <app-course-tiles-tile
                *ngFor="let course of courses; let i = index"
                [colorVariant]="i"
                [course]="course"
                routerLink="/teach/course/{{course.id}}"
            ></app-course-tiles-tile>
        </div>
    </div>
</div>