<div class="containter">
    <div class="content">
        <div class="title">
            Гири
        </div>
        <div class="description">
            Баллы: 10 max <br>
            Тестирование: Предварительная Профессиональная Олимпиада
        </div>
        
        <div class="item-btn">
            Открыть условие задачи
        </div>

        <div class="editor-window">
            <div class="header">
                <div class="bg"></div>
                <div class="icon">
                    <img class="ic-status-ok">
                </div>
            </div>
            <div class="body">
                <div class="topbar">
                    <div class="sq"></div>
                    <div class="icons">
                        <div class="icon">
                            <img class="ic-copy">
                        </div>
                        <div class="icon">
                            <img class="ic-download">
                        </div>
                    </div>
                </div>

                <div class="editor">
                    <div class="gap"></div>
                    <div class="line" *ngFor="let line of solutionStrings; let i = index">
                        <div class="lineNumber">
                            <div class="breakPoint ">
                                <div class="inner"></div>
                            </div>
                            <div class="num">
                                {{i}}    
                            </div>
                                      
                        </div>
                        <div class="code">
                            <markdown [data]="line.toString() | language : 'javascript'"></markdown>
                        </div>
                        
                    </div>
                    <div class="line">
                        <div class="lineNumber">
                            <div class="breakPoint active">
                                <div class="inner"></div>
                            </div>
                            <div class="num">
                                4    
                            </div>
                                      
                        </div>
                        <div class="code">
                            <markdown [data]="'{}' | language : 'javascript'"></markdown>
                        </div>
                        <app-task-check-comment></app-task-check-comment>
                    </div>
                    <div class="gap"></div>
                    
                </div>


            </div>
        </div>
        <div class="logs-window" [class.open]="logOpen">
            <div class="header" (click)="logToggle()">
                <div class="label">
                    Посмотреть логи компиляции
                </div>
                <div class="arrowDown">
                    <img class="icc-arr-down">
                </div>
                <div class="arrowUp">
                    <img class="icc-arr-up">
                </div>
            </div>
            <div class="body" *ngIf="logOpen">
                <app-task-check-log-type1 [failedTest]="1" [inputData]="'11 32424 563 12'" [expectedAnswer]="'5'" [receivedAnswer]="'32'"></app-task-check-log-type1>
                <!--<app-task-check-log-type2 [errorLog]="'oshibka!'"></app-task-check-log-type2>-->
            </div>
        </div>

    </div>
</div>