<div class="containter">
    <div class="content">
        <div class="title">
            {{check && check.exerciseName}}
        </div>
        <div class="description">
            Баллы: {{check && check.totalScore}} max <br>
            Тестирование: {{challenge && challenge.name}}
        </div>
        
        <div class="item-btn">
            Открыть условие задачи
        </div>

        <div class="editor-window">
            <div class="header">
                <div class="bg"></div>
                <div class="icon">
                    <img class="ic-status-ok">
                </div>
            </div>
            <div class="body">
                <div class="topbar">
                    <div class="sq"></div>
                    <div class="icons">
                        <div class="icon">
                            <img class="ic-copy">
                        </div>
                        <div class="icon">
                            <img class="ic-download">
                        </div>
                    </div>
                </div>

                <div class="editor">
                    <div class="gap"></div>
                    <div class="line" *ngFor="let line of check && check.raw.split('\n'); let i = index">
                        <div class="lineNumber">
                            <div class="breakPoint " [class.active]="findComments(i)" (click)="toggleComment(i)">
                                <div class="inner"></div>
                            </div>
                            <div class="num">
                                {{i}}    
                            </div>
                                      
                        </div>
                        <div class="code">
                            <markdown [data]="line.toString() | language : 'javascript'"></markdown>
                        </div>
                        <app-task-check-comment *ngIf="findComments(i)" [arr]="commentsArray" [index]="findCommentIndex(i)"></app-task-check-comment>
                    </div>
                    
                    <div class="gap"></div>
                    
                </div>


            </div>
        </div>

        <div class="item-btn" (click)="submitComments()">
            Оставить комментарий ученику
        </div>
        

    </div>
</div>