<div class="containter">
    <div class="content">
        <div class="title">
            Добавление группы
        </div>

        <div class="item">
            <div class="header">
                Введите название группы
            </div>
            <div class="item-content">
                <input class="input" placeholder="Как называется группа" type="text">
            </div>
        </div>

        <div class="item">
            <div class="header">
                Ссылка на приглашение в группу
            </div>
            <div class="description">
                Скопируйте ссылку и отправьте ее учащимся, чтобы они смогли присоединиться к курсу.
            </div>
            <div class="item-content">
                <input class="input" readonly placeholder="https://olympiad.ru/group/invite123" type="text">
            </div>
        </div>

        <div class="item">
            <div class="header">
                Выберите даты проведения занятий
            </div>
            <div class="item-content">
                <div class="calendar">
                    <div class="day">
                        <div class="label">
                           <div class="inner">
                            пн
                           </div>
                        </div>
                        <div class="time">
                            <input class="active" type="text" value="12:00">
                            <input class="disabled" disabled type="text" value="—">
                        </div>
                    </div>

                    <div class="day">
                        <div class="label">
                           <div class="inner">
                            вт
                           </div>
                        </div>
                        <div class="time">
                            <input class="active" type="text" value="12:00">
                            <input class="disabled" disabled type="text" value="—">
                        </div>
                    </div>

                    <div class="day disabled">
                        <div class="label">
                           <div class="inner">
                            ср
                           </div>
                        </div>
                        <div class="time">
                            <input class="active" type="text" value="12:00">
                            <input class="disabled" disabled type="text" value="—">
                        </div>
                    </div>

                    <div class="day disabled">
                        <div class="label">
                           <div class="inner">
                            чт
                           </div>
                        </div>
                        <div class="time">
                            <input class="active" type="text" value="12:00">
                            <input class="disabled" disabled type="text" value="—">
                        </div>
                    </div>

                    <div class="day">
                        <div class="label">
                           <div class="inner">
                            пт
                           </div>
                        </div>
                        <div class="time">
                            <input class="active" type="text" value="12:00">
                            <input class="disabled" disabled type="text" value="—">
                        </div>
                    </div>

                    <div class="day">
                        <div class="label">
                           <div class="inner">
                            сб
                           </div>
                        </div>
                        <div class="time">
                            <input class="active" type="text" value="12:00">
                            <input class="disabled" disabled type="text" value="—">
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="item-btn">
            Сохранить группу
        </div>

    </div>
</div>