<div class="containter">
    <form [formGroup]="form" class="content">
        <div class="title">
            Добавление задания в тему Структура данных «Очередь»
        </div>

        <div class="item">
            <div class="header">
                Введите название задачи
            </div>
            <div class="item-content">
                <input class="input" placeholder="Как называется задача" type="text" formControlName="exerciseName">
            </div>
        </div>

        <div class="item">
            <div class="header">
                Введите описание задачи
            </div>
            <div class="item-content">
                <textarea class="task" formControlName="exerciseTask"></textarea>
            </div>
        </div>

        <div class="item">
            <div class="header">
                Добавить тестовые данные
            </div>
            <div class="item-content">
                <div class="btns">
                    <div class="btn" (click)="addCollection()">
                        <img class="ic-plus"> Добавить набор
                    </div>
                    <div class="btn" (click)="addChecker()">
                        <img class="ic-plus"> Добавить чекер
                    </div>
                </div>
            </div>
        </div>

        <div class="item" formArrayName="inOutData" *ngFor="let inOut of getInOutData(); let i = index">
            <div class="header btn">
                <img class="ic-minus" (click)="deleteCollection(i)"> Набор {{i + 1}}
            </div>
            <div class="item-content">
                <div class="inputs" formGroupName="{{i}}">
                    <input formControlName="inData" class="input" placeholder="Входные данные" type="text">
                    <input formControlName="outData" class="input" placeholder="Выходные данные" type="text">
                    <input class="input no-grow" placeholder="Баллы" type="text">
                </div>                
            </div>
        </div>

        <div class="item" formArrayName="checker" *ngFor="let c of getChecker(); let i = index">
            <div class="header btn">
                <img class="ic-minus" (click)="deleteChecker(i)"> Чекер {{i + 1}}
            </div>
            <div class="item-content">
                <div class="inputs" formGroupName="{{i}}"> 
                    <div class="file">
                        <input class="input" readonly placeholder="Выберите файл..." type="text">
                        <input class="file-input" id="file-input1" type="file" name="file" multiple>
                        <label for="file-input1">
                            <div class="inner">
                                <img class="ic-big-upload">
                            </div>
                        </label>  
                    </div>
                    <input class="input no-grow" placeholder="Баллы" type="text">
                </div>                
            </div>
        </div>

        <div class="item">
            <div class="header">
                Назначить задачу конкретному ученику
            </div>
            <div class="description">
                Выберите учеников, которым будет назначена задача. Оставьте пустым для назначения всей группе.
            </div>
            <div class="item-content">
                <input formControlName="student" class="input" placeholder="Начните набирать имя ученика..." type="text">
                <div class="dropdown">
                    <div class="option" *ngFor="let student of students" (click)="select(student.id)">
                        {{student.firstName}}
                    </div>
                </div>
            </div>

            <div class="omni-selected">
                <div *ngFor="let student of showStudents" class="element">
                    <div class="avatar">
                        <img src="../../assets/jpg/noavatar.jpg">
                    </div>
                    <div class="label">
                        {{student.firstName}}
                    </div>
                    <div class="btn"><img class="ic-close"></div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="header">
                Выберите доступные языки
            </div>
            <div class="item-content">
                <div class="checkboxes">
                    <div class="checkbox" *ngFor="let lang of langs; let i = index" (click)="lang.f = !lang.f">
                        <div class="box" [ngStyle]="{'background-color': getColor(i)}" >
                            
                            <label for="check-input1"></label>
                        </div>
                        <div class="label">
                            {{lang.l}}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="split">
            <div class="item">
                <div class="header">
                    Ограничение по времени
                </div>
                <div class="description">
                    Доступное время исполнения программы
                </div>
                <div class="item-content">
                    <input class="input" placeholder="Например, 3 сек" type="text" formControlName="timeLimit">
                </div>
            </div>

            <div class="item">
                <div class="header">
                    Ограничение по памяти
                </div>
                <div class="description">
                    Доступная программе память
                </div>
                <div class="item-content">
                    <input class="input" placeholder="Например, 32 Мб" type="text" formControlName="memoryLimit">
                </div>
            </div>
        </div>

        <div class="item-btn" (click)="submit()">
            Сохранить задачу
        </div>

    </form>
</div>